  <div class='field one_row_field'>
    <%= f.label :category -%>
    <%= f.collection_select( 'category_id', categories, :id, :name, {:prompt => true}, {:id => 'categories_select'}) -%>
    <%= f.label :sub_category -%>
    <%= f.collection_select( 'sub_category_id', resource.category ? resource.category.children : [], :id, :name, {:prompt => true}, {:id => 'sub_categories_select'}) -%>
    <%= link_to 'Add category', new_admin_category_path(:dialog => true, :width => 300, :height => 250),
                                                     { :class => 'button', :id => 'add-category-link' } %>
    <%= link_to('Delete category','',
                :remote => true,
                :title => "Delete selected Category/Sub category",
                :id => "delete-category-link",
                :method => :delete,
                :confirm => "This will delete the category permanently",
                :class => "button-delete") %>





  </div>

  <div id="hidden_subcategories" class="hidden" >
  <% categories.each do |category| %>
    <%=  collection_select('sub_categories', "for_#{category.id}", category.children, :id, :name, :prompt => true) %>
  <% end %>
  </div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      $("#categories_select").change(function(){
        var parent_category_id = "";
        var sub_category_options = "";
        $("select#categories_select option:selected").each(function () {
          parent_category_id += $(this).val();
        });
        sub_category_options = $("#sub_categories_for_" + parent_category_id ).html();
        $("select#sub_categories_select").empty();
        $("select#sub_categories_select").append( sub_category_options );
      });

      $("#delete-category-link").live('click' , function(){
        var category_id = "";
        var subcategory_id = "";
        $("select#categories_select option:selected").each(function () { category_id += $(this).val(); });
        $("select#sub_categories_select option:selected").each(function () { subcategory_id += $(this).val(); });
        $.ajax({
          type: "DELETE",
          url: "<%= admin_category_path %>",
          error: function(){ alert("An error has been occurred. Contact your system administrator"); },
          data : [
            {name:"id",value: category_id },
            {name:"category",value: category_id },
            {name:"sub_category", value: subcategory_id } ]
        });
        return false;
      });
    });

  </script>
<% end %>

