var errors = <%= @category.errors.length %>;
if (errors > 0) {
  var error_messages = '';
  <% @category.errors.each do |field, message| %>
    $('#category_<%= field %>').wrap('<span class="fieldWithErrors" />');
    $('label[for="category_<%= field %>"').wrap('<span class="fieldWithErrors" />');
    error_messages += '<li><%= "#{field.to_s.capitalize} #{escape_javascript(message)}" %></li>';
  <% end %>

  $('#flash_container').html('<div class="errorExplanation" id="errorExplanation"><p>There were problems:</p><ul>' + error_messages + '</ul></div>');
  $('.save-loader').hide();
} else {
  <% if @category.parent %>
      parent.$("#sub_categories_for_<%= @category.parent.id %>").append("<%= escape_javascript(options_for_select [[@category.name, @category.id]])%>");
  <% else %>
    parent.$("#categories_select").append("<%= escape_javascript(options_for_select [[@category.name, @category.id]])%>");
    parent.$("#categories_select").val(<%= @category.id %>);
  <% end %>

  <% if @category.parent %>
    parent_category_id  = ""
    parent.$("#categories_select option:selected").each(function () {
      parent_category_id += $(this).val();
    });
    if( parent_category_id === "<%= @category.parent.id %>" ){
      parent.$("#sub_categories_select").append("<%= escape_javascript(options_for_select [[@category.name, @category.id]])%>");
      parent.$("#sub_categories_select").val(<%= @category.id %>);
    }
  <% end %>

  // Close dialog
  $(parent.document.body).removeClass('hide-overflow');
  window_dialog = parent.$('.ui-dialog-content');
  window_dialog.filter(':data(dialog)').dialog('close');
  window_dialog.remove();
}
