<ul>
  <% if Admin::ProductsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_products_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to "Most loved", admin_products_path(:order => 'loved')  %>
  </li>
  <li>
    <%= link_to "Most commented", admin_products_path(:order => 'commented')  %>
  </li>
  <li>
    <%= link_to t('.create_new'), new_admin_product_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::ProductsController.sortable? and Product.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Products"),
                 admin_products_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Products"),
                 admin_products_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
