%aside.leftMenu.span-6.first
  %h4 Products
  %ul
    = dinamic_filters
    = manual_filters
    %li.branch
      %a.branchLink{:href => "#"} By brand
      %ul.leafs
        - get_filters_for("brand","name")

%section#product_list.itemsList.span-18.last
  .rankMenu.push-1.span-17.last
    %ul.sortMenu
      %li
        sort by:
      %li
        = link_to "most loved", most_loved
      %li
        = link_to "lowest price", lowest_price 
      %li
        = link_to "highest price", highest_price
    = paginator @products
  #products.items
    = render @products if @products
  = paginator @products
