%aside.leftMenu.span-6.first
  %h4 Products
  %ul
    = dinamic_filters
    = manual_filters
    %li.branch
      %a.branchLink{:href => "#"} By brand
      %ul.leafs
        - get_filters_for("brand","name")

%section#product_list.itemsList.span-18.last
  = render 'rank'
  #products.items
    = render @products if @products
  = paginator @products
