%section#product.span-17.last
  %span.breadcrumb
    MAKEUP : #{@product.category.name if @product.category} : #{@product.name}
  #product_image.span-8.image
    - if @product.picture
      = image_tag @product.picture.thumbnail('260x260#').url
    - else
      = image_tag 'large-product.jpg'
  #product_info
    %h2= @product.name
    %h3.brand= @product.brand.name
    = raw @product.description
  #product_menu.prepend-8
    %ul
      %li
        = love_button(@product)
      %li Add to cart
      %li share
%section.span-23.last.relatedContent
  %h3 Looks with this product
  .span-23.last
    = render :partial => 'shared/related_videos', :locals => { :related_videos => @related_videos }
%section.span-23.last.relatedContent
  %h3 Tell us why you love this product
  .commentBox
    = comment_list(@product)
    = comment_form(@product)
