%section#product.span-22.last.prepend-1
  %span.breadcrumb
    MAKEUP : #{@product.category.name} : #{@product.name}
  #product_image.span-8.image
    - if @product.picture
      = image_tag @product.picture.thumbnail('260x260#').url
    - else
      = image_tag 'large-product.jpg'
  #product_info
    %h2= @product.name
    %h3.brand= @product.brand.name
    = raw @product.description
  #product_menu.prepend-8
    %ul
      %li
        = love_button(@product)
      %li
        = worn_button(@product)
      %li Add to cart
      %li
        = link_to 'Add to cart', carts_path(:product_id => @product.id), :method => :post
      %li share
